main-workflow.json
{
  "name": "DEEPP AUTO P1 (3FS Telegrambot)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "039513c0-1d1c-4aee-b7d5-181cce5ebdbd",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst offset = staticData.lastUpdateId ? staticData.lastUpdateId + 1 : 0;\nreturn [{ json: { offset: offset } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "46c3c378-09f4-4176-bf56-4471e5fc9530",
      "name": "Code - Read Offset"
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/botYOUR_TELEGRAM_BOT_TOKEN/getUpdates",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "=offset",
              "value": "={{ $json.offset }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "96439e18-db54-4800-9c7f-371358799ff0",
      "name": "HTTP Request - Telegram Get Updates"
    },
    {
      "parameters": {
        "jsCode": "const updates = $input.first().json.result;\nconst staticData = $getWorkflowStaticData('global');\n\nif (!updates || updates.length === 0) return [];\n\nconst TOKEN = 'YOUR_TELEGRAM_BOT_TOKEN';\nconst API = `https://api.telegram.org/bot${TOKEN}`;\n\nasync function sendMsg(chatId, text, withButton = false) {\n  const body = { chat_id: chatId, text };\n  if (withButton) {\n    body.reply_markup = {\n      inline_keyboard: [[{ text: '开始处理 / Start ✅', callback_data: 'start' }]]\n    };\n  }\n  await this.helpers.httpRequest({\n    method: 'POST', url: `${API}/sendMessage`,\n    headers: { 'Content-Type': 'application/json' },\n    body, json: true\n  });\n}\n\nconst dispatchItems = [];\nlet maxProcessedUpdateId = staticData.lastUpdateId || 0;\n\nfor (const update of updates) {\n  try {\n    // ── 用户点了按钮 ──\n    if (update.callback_query) {\n      const cb = update.callback_query;\n      const chatId = cb.message.chat.id;\n\n      try {\n        await this.helpers.httpRequest({\n          method: 'POST', url: `${API}/answerCallbackQuery`,\n          headers: { 'Content-Type': 'application/json' },\n          body: { callback_query_id: cb.id, text: '⏳ 收到' },\n          json: true\n        });\n      } catch (e) { /* callback过期，忽略 */ }\n\n      if (cb.data && cb.data.startsWith('rate_')) {\n        const stars = cb.data.replace('rate_', '');\n        await sendMsg.call(this, chatId, `🙏 谢谢你的评价（${stars}⭐）！有什么想让我改进的，直接打字告诉我就行。`);\n        maxProcessedUpdateId = Math.max(maxProcessedUpdateId, update.update_id);\n        continue;\n      }\n\n      if (cb.data === 'start') {\n        const queue = staticData[`queue_${chatId}`] || [];\n        if (queue.length === 0) {\n          await sendMsg.call(this, chatId, '❌ 没有待处理的菜单，请先发送菜单图片、PDF或文字。');\n        } else {\n          const caption = staticData[`caption_${chatId}`] || '';\n          await sendMsg.call(this, chatId, `⏳ 正在处理 ${queue.length} 个文件，请稍等...`);\n          for (const item of queue) {\n            item.caption = caption;\n            dispatchItems.push(item);\n          }\n          delete staticData[`queue_${chatId}`];\n          delete staticData[`caption_${chatId}`];\n          staticData[`awaitingFeedback_${chatId}`] = true;\n        }\n      }\n      maxProcessedUpdateId = Math.max(maxProcessedUpdateId, update.update_id);\n      continue;\n    }\n\n    const msg = update.message;\n    if (!msg) {\n      maxProcessedUpdateId = Math.max(maxProcessedUpdateId, update.update_id);\n      continue;\n    }\n    const chatId = msg.chat.id;\n\n    // ── 照片 ──\n    if (msg.photo) {\n      const photo = msg.photo[msg.photo.length - 1];\n      if (!staticData[`queue_${chatId}`]) staticData[`queue_${chatId}`] = [];\n      staticData[`queue_${chatId}`].push({\n        update_id: update.update_id,\n        chat_id: chatId,\n        file_id: photo.file_id,\n        caption: '',\n        mime_type: 'image/jpeg'\n      });\n      const count = staticData[`queue_${chatId}`].length;\n      await sendMsg.call(this, chatId,\n        `📥 已收到菜单图片（队列共 ${count} 个）\\n\\n有需要特别注意的吗？（分类、规格、外带加价等）\\n直接回复我，或者没有的话按下面按钮直接开始。`,\n        true\n      );\n      maxProcessedUpdateId = Math.max(maxProcessedUpdateId, update.update_id);\n      continue;\n    }\n\n    // ── PDF ──\n    if (msg.document && msg.document.mime_type === 'application/pdf') {\n      if (msg.document.file_size > 20971520) {\n        const sizeMB = (msg.document.file_size / 1024 / 1024).toFixed(1);\n        await sendMsg.call(this, chatId,\n          `⚠️ PDF文件（${sizeMB}MB）超过20MB限制。\\n\\n请先压缩：https://www.ilovepdf.com/compress_pdf\\n压缩后重新发给我。`\n        );\n        maxProcessedUpdateId = Math.max(maxProcessedUpdateId, update.update_id);\n        continue;\n      }\n      if (!staticData[`queue_${chatId}`]) staticData[`queue_${chatId}`] = [];\n      staticData[`queue_${chatId}`].push({\n        update_id: update.update_id,\n        chat_id: chatId,\n        file_id: msg.document.file_id,\n        caption: '',\n        mime_type: 'application/pdf'\n      });\n      const count = staticData[`queue_${chatId}`].length;\n      await sendMsg.call(this, chatId,\n        `📥 已收到PDF菜单（队列共 ${count} 个）\\n\\n有需要特别注意的吗？（分类、规格、外带加价等）\\n直接回复我，或者没有的话按下面按钮直接开始。`,\n        true\n      );\n      maxProcessedUpdateId = Math.max(maxProcessedUpdateId, update.update_id);\n      continue;\n    }\n\n    // ── 文字 ──\n    if (msg.text) {\n      const text = msg.text.trim();\n      const lower = text.toLowerCase();\n\n      if (lower === '开始' || lower === 'start' || lower === '/go') {\n        const queue = staticData[`queue_${chatId}`] || [];\n        if (queue.length === 0) {\n          await sendMsg.call(this, chatId, '❌ 没有待处理的菜单，请先发送菜单图片、PDF或文字。');\n        } else {\n          const caption = staticData[`caption_${chatId}`] || '';\n          await sendMsg.call(this, chatId, `⏳ 正在处理 ${queue.length} 个文件，请稍等...`);\n          for (const item of queue) {\n            item.caption = caption;\n            dispatchItems.push(item);\n          }\n          delete staticData[`queue_${chatId}`];\n          delete staticData[`caption_${chatId}`];\n          staticData[`awaitingFeedback_${chatId}`] = true;\n        }\n        maxProcessedUpdateId = Math.max(maxProcessedUpdateId, update.update_id);\n        continue;\n      }\n\n      // 队列非空 → 当备注（优先级最高，避免被反馈逻辑抢走）\n      if (staticData[`queue_${chatId}`] && staticData[`queue_${chatId}`].length > 0) {\n        staticData[`caption_${chatId}`] = text;\n        await sendMsg.call(this, chatId,\n          `✏️ 备注已记录：「${text}」\\n\\n准备好了就按开始处理。`,\n          true\n        );\n        maxProcessedUpdateId = Math.max(maxProcessedUpdateId, update.update_id);\n        continue;\n      }\n\n      // 队列空 且 正在等反馈 → 当反馈\n      if (staticData[`awaitingFeedback_${chatId}`]) {\n        delete staticData[`awaitingFeedback_${chatId}`];\n        await sendMsg.call(this, chatId, '✅ 收到你的反馈了，谢谢！我会记住这个改进点。');\n        maxProcessedUpdateId = Math.max(maxProcessedUpdateId, update.update_id);\n        continue;\n      }\n\n      // 都不是 → 当新菜单文字\n      if (!staticData[`queue_${chatId}`]) staticData[`queue_${chatId}`] = [];\n      staticData[`queue_${chatId}`].push({\n        update_id: update.update_id,\n        chat_id: chatId,\n        file_id: null,\n        caption: '',\n        mime_type: 'text/plain',\n        text_content: text\n      });\n      await sendMsg.call(this, chatId,\n        `📥 已收到菜单文字内容。\\n\\n有需要特别注意的吗？\\n没有的话按下面按钮直接开始。`,\n        true\n      );\n      maxProcessedUpdateId = Math.max(maxProcessedUpdateId, update.update_id);\n      continue;\n    }\n\n    maxProcessedUpdateId = Math.max(maxProcessedUpdateId, update.update_id);\n\n  } catch (err) {\n    maxProcessedUpdateId = Math.max(maxProcessedUpdateId, update.update_id);\n    try {\n      const failedChatId = update.callback_query?.message?.chat?.id || update.message?.chat?.id;\n      if (failedChatId) {\n        await sendMsg.call(this, failedChatId, `⚠️ 处理消息时出错：${err.message}\\n请重试一次。`);\n      }\n    } catch (e) { /* ignore */ }\n  }\n}\n\nstaticData.lastUpdateId = maxProcessedUpdateId;\n\nreturn dispatchItems.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "c37e4b7f-cd99-4a2b-8efb-d78807bf154f",
      "name": "Code - Main Router"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VMzQPaf41Ejk8Eco",
          "mode": "list",
          "cachedResultUrl": "/workflow/VMzQPaf41Ejk8Eco",
          "cachedResultName": "DEEPP AUTO P1 (3FS Telegrambot) - Worker"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        832,
        0
      ],
      "id": "9115e710-917c-4fe3-9efe-ce56e5fa6366",
      "name": "Call 'DEEPP AUTO P1 (3FS Telegrambot) - Worker'"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code - Read Offset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Read Offset": {
      "main": [
        [
          {
            "node": "HTTP Request - Telegram Get Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Telegram Get Updates": {
      "main": [
        [
          {
            "node": "Code - Main Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Main Router": {
      "main": [
        [
          {
            "node": "Call 'DEEPP AUTO P1 (3FS Telegrambot) - Worker'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ec84bd1e-41c9-4abf-abf0-be82c1b2b3de",
  "meta": {
    "instanceId": "abd1e076cf9364cdee08c4e5b69fa9029fa737d255bf2c5aa93da83f244f1087"
  },
  "nodeGroups": [],
  "id": "9vKpckK9wiPpq5E7",
  "tags": []
}